html(lang="en")
  head
    title= title
    meta(name='description', content=description)
    link(rel="stylesheet" href="/highlight.css")
    link(rel="stylesheet" href="/main.css")
  body
    h1= title
    p= description


    != contents
