nav.navbar.navbar-dark.bg-inverse
  a.navbar-brand(href=pathRoot) shouldhave.js
  ul.nav.navbar-nav
    li.nav-item.active
      a.nav-link(href=pathRoot+'/about')
        = 'About'
        span.sr-only (current)

    li.nav-item
      a.nav-link(href=pathRoot+'/docs') Docs

    li.nav-item
      a.nav-link(href=githubUrl) Code
